* {
    margin: 0;
    padding: 0;
}

.content div {
    position: relative;
    width: 100%;
}
.content div img {
    width: 100%;
}
.content div img.footer_button {
    position: absolute;
    width: 28%;
    left: 34%;
    top: 26%;
    cursor: pointer;
}