.weichat .slideA {
    position: absolute;
    top: 53px;
    left: 38px;
    z-index: 999;
    animation: mymovetoright 2s;
    -webkit-animation: mymovetoright 2s;
}
.slideA img {
    width: 41%;
    height: 100%;
}
.weichat .slideB {
    position: absolute;
    top: 90px;
    left: 60px;
    z-index: 999;
    animation: mymovetocenter 2s;
    -webkit-animation: mymovetocenter 2s;
}
.slideB img {
    width: 41%;
    height: 100%;
}
.weichat .slideC {
    position: absolute;
    top: 53px;
    right: -32px;
    z-index: 999;
    animation: mymovetoleft 2s;
    -webkit-animation: mymovetoleft 2s;
}
.slideC img {
    width: 41%;
    height: 100%;
}
@keyframes mymovetoright{
	0% {
	    left: 0px;
	}

	100% {
	    left: 38px;
	}
}
@keyframes mymovetocenter{
	0% {
	    top: 0px;
	}

	100% {
	    top: 90px;
	}
}
@keyframes mymovetoleft{
	0% {
	    right: 0px;
	}
	100% {
	    right: -32px;
	}
}