	            html{
		    	font-size:16px;
		    }
		    *{
		    	margin:0;
		    	padding:0;
		    }
		    .header{
		    	width:1200px;
		    	height:100px;
		    	margin:0 auto;
		    	border:1px solid black;
		    }
		    .weichat {
				width:100%;
				/*height:1500px;*/
			    max-width: 1431px;
			    margin: 0 auto;
			    text-align: center;
			    position: relative;
			    z-index: 998;
			}
			.weichat .slideA {
			    position: absolute;
			    top: 100px;
			    left: 200px;
			    z-index: 999;
			    animation: mymovetoright 2s;
			    -webkit-animation: mymovetoright 2s;
			}
			.weichat .slideB {
			    position: absolute;
			    top: 150px;
			    left: 458px;
			    z-index: 999;
			    animation: mymovetocenter 2s;
			    -webkit-animation: mymovetocenter 2s;
			}
			.weichat .slideC {
			    position: absolute;
			    top: 90px;
			    right: 200px;
			    z-index: 999;
			    animation: mymovetoleft 2s;
			    -webkit-animation: mymovetoleft 2s;
			}
			.slideA img{
				width:100%;
				height:100%;
			}
			.slideB img{
				width:100%;
				height:100%;
			}
			.slideC img{
				width:100%;
				height:100%;
			}
			@keyframes mymovetoright{
				0% {
				    left: 0px;
				}

				100% {
				    left: 200px;
				}
			}
			@keyframes mymovetocenter{
				0% {
				    top: 0px;
				}

				100% {
				    top: 150px;
				}
			}
			@keyframes mymovetoleft{
				0% {
				    right: 0px;
				}
				100% {
				    right: 200px;
				}
			}
			.slide-tu{
				width:100%;
				height:100%;
			}
			.slide-tu>img{
				width:100%;
				height:100%;
			}
			 @media screen and (max-width: 1210px) {

            		.weichat .slideB {
=======
            .weichat .slideB {

			    position: absolute;
			    top: 150px;
			    left: 350px;
			    z-index: 999;
			    animation: mymovetocenter 2s;
			    -webkit-animation: mymovetocenter 2s;
			}
			.slideB img {
			    width: 78%;
			    height: 100%;
			}

       		 }
       			
       			 
       			

        }
        @media screen and (max-width: 830px) {
            .weichat .slideA {
			    position: absolute;
			    top: 100px;
			    left: 112px;
			    z-index: 999;
			    animation: mymovetoright 2s;
			    -webkit-animation: mymovetoright 2s;
			}
			.weichat .slideB {
			    position: absolute;
			    top: 150px;
			    left: 150px;
			    z-index: 999;
			    animation: mymovetocenter 2s;
			    -webkit-animation: mymovetocenter 2s;
			}
        }
        @media screen and (max-width: 830px) {
            .weichat .slideA {
			    position: absolute;
			    top: 100px;
			    left: 112px;
			    z-index: 999;
			    animation: mymovetoright 2s;
			    -webkit-animation: mymovetoright 2s;
			}
			.weichat .slideB {
			    position: absolute;
			    top: 150px;
			    left: 150px;
			    z-index: 999;
			    animation: mymovetocenter 2s;
			    -webkit-animation: mymovetocenter 2s;
			}
        }
        @media screen and (max-width: 750px){
			.weichat .slideA {
			    position: absolute;
			    top: 100px;
			    left: 122px;
			    z-index: 999;
			    animation: mymovetoright 2s;
			    -webkit-animation: mymovetoright 2s;
			}
			.slideA img {
			    width: 47%;
			    height: 100%;
			}
			.weichat .slideB {
			    position: absolute;
			    top: 127px;
			    left: 120px;
			    z-index: 999;
			    animation: mymovetocenter 2s;
			    -webkit-animation: mymovetocenter 2s;
			}
			.slideB img {
			    width: 45%;
			    height: 100%;
			}
			.weichat .slideC {
			    position: absolute;
			    top: 90px;
			    right: 91px;
			    z-index: 999;
			    animation: mymovetoleft 2s;
			    -webkit-animation: mymovetoleft 2s;
			}
			.slideC img {
			    width: 50%;
			    height: 100%;
			}
        }

