.weichat .slideA {
    position: absolute;
    top: 100px;
    left: 141px;
    z-index: 999;
    animation: mymovetoright 2s;
    -webkit-animation: mymovetoright 2s;
}
.slideA img {
    width: 70%;
    height: 100%;
}
.weichat .slideB {
    position: absolute;
    top: 150px;
    left: 200px;
    z-index: 999;
    animation: mymovetocenter 2s;
    -webkit-animation: mymovetocenter 2s;
}
.slideB img {
    width: 53%;
    height: 100%;
}
.weichat .slideC {
    position: absolute;
    top: 90px;
    right: 121px;
    z-index: 999;
    animation: mymovetoleft 2s;
    -webkit-animation: mymovetoleft 2s;
}
.slideC img {
    width: 72%;
    height: 100%;
}
@keyframes mymovetoright{
	0% {
	    left: 0px;
	}

	100% {
	    left: 150px;
	}
}
@keyframes mymovetocenter{
	0% {
	    top: 0px;
	}

	100% {
	    top: 90px;
	}
}
@keyframes mymovetoleft{
	0% {
	    right: 0px;
	}
	100% {
	    right: 121px;
	}
}